/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
bicitest/*
*.env
*.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
worker.log
